*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Noto Serif KR', serif;}
li{
	list-style:none;
}
a{
	text-decoration: none;
	color: #333;
	display:block;
}
#header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	margin:0 auto;
	z-index:500;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07);
}
#header .headerin{
	overflow:hidden;
	margin:0 auto;
	padding:0 80px;
	min-width:1250px;
	max-width:1700px;
	height:80px;
}
#header .headerin h1{
	float:left;
	padding:24px 0;
	background:url(../img/logo.png)0 50% no-repeat;
	width:120px;
	height:80px;
	text-indent:-9999px;
}
#header .headerin .gnb{
	float:left;
}
#header .headerin .gnb ul{
	width:800px;
}
#header .headerin .gnb ul li{
	display:inline-block;
	position:relative;
}
#header .headerin .gnb ul li a{
	line-height:80px;
	margin-left:100px;
	font-size:19px;
	font-weight:400;
}
#header .headerin .side{
	float:right;
	display:flex;
	margin-top:16px;
}
#header .headerin .side a{
	height:100%;
	padding-top:32px;
	text-align:center;
	margin-right:3px;
	width:70px;
	font-size:14px;
}
#header .headerin .side a.btn_join{
	background:url("../img/ico_mem.png")center top no-repeat;
}
#header .headerin .side a.btn_login{
	background:url("../img/ico_login.png")center top no-repeat;
}
#header .headerin .side a.btn_mypage{
	background:url("../img/ico_mem01.png")center top no-repeat;
}
#header .headerin .side a.btn_logout{
	background:url("../img/ico_logout.png")center top no-repeat;
}


